@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');
   $bg-black-900:#f2f2fc;
    $bg-black-100:#fdf9ff;
    $bg-black-50:#e8dfec;
    $text-black-900:#302e4d;
    $text-black-700:#504e70;
    $skin-color:#ec1839;
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1100px;
    width: 100%;
    background: red;
}

ul{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration:none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}