.main_container {
    .aside {
        width: 270px;
        background: $bg-black-100;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .main_content{
        .section {
            background: $bg-black-900;
            min-height: 100vh;
            display: block;
            position: fixed;
            left: 270px;
            top: 0;
            right: 0;
            opacity: 1;
        }
    }
}

