.main_container {
    .aside {
        width: 270px;
        background: $bg-black-100;
        position: fixed;
        left: 0;
        top: 0;
        padding: 30px;
        height: 100%;
        border-right: 1px solid $bg-black-50;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 100%;
        z-index: 10;

        .nav_toggler {
            height: 40px;
            width: 45px;
            border: 1px solid $bg-black-50;
            cursor: pointer;
            position: fixed;
            left: 300px;
            top: 20px;
            border-radius: 5px;
            background: $bg-black-100;
            display: none;
            align-items: center;
            justify-content: center;
            span{
                height: 2px;
                width: 18px;
                background: $skin-color;
                display:inline-block;
                position: relative;
                &::before{
                    content: '';
                    height: 2px;
                    width: 18px;
                    background:$skin-color;
                    position: absolute;
                    top: -6px;
                    left: 0;
                }
                &::after{
                    content: '';
                    height: 2px;
                    width: 18px;
                    background:$skin-color;
                    position: absolute;
                    top: 6px;
                    left: 0;
                }
            }
        }

        .logo {
            position: absolute;
            top: 30px;
            font-size: 30px;
            text-transform: capitalize;

            a {
                color: $text-black-900;
                font-weight: 700;
                padding: 15px 20px;
                font-size: 30px;
                letter-spacing: 2px;
                font-weight: 700;

                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-bottom: 5px solid $skin-color;
                    border-left: 5px solid $skin-color;
                    bottom: 0;
                    left: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-top: 5px solid $skin-color;
                    border-right: 5px solid $skin-color;
                    top: 0;
                    right: 0;
                }
            }
        }

        .nav {
            margin-top: 50px;

            li {
                margin-bottom: 20px;
                display: block;

                a {
                    font-size: 16px;
                    font-weight: 600;
                    display: block;
                    border-bottom: 1px solid $bg-black-50;
                    color: $text-black-900;
                    padding: 5px 15px;

                    i {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .main_content {
        .section {
            background: $bg-black-900;
            min-height: 100vh;
            display: block;
            position: fixed;
            left: 270px;
            top: 0;
            right: 0;
            z-index: 0;
            opacity: 1;
        }

    }
}

.aside .nav li a.active {
    color: $skin-color;
}
